*{
    box-sizing: border-box;
    font-family: 'Trebuchet MS';
}

section{
    position: relative;
    background-color: grey;
    border:1px solid black;
    padding:35px 20px 0;
    margin:0 20px 30px;
}

h1{
    margin: 50px 0 50px;
    text-align:center;
}

h2{
    border:1px solid black;
    position: absolute;
    margin:0;
    top:0;
    right:0;
    padding:3px;
    width: 40%;
}

#chicken>h2{
    background-color:pink ;
}
#beef>h2{
    background-color: red;
    color: white;
}

#sushi>h2{
    background-color: peachpuff;
}

@media (min-width:992px){
    section{
        left:24px;
        margin:1%;
        float:left;
        width:30%;
    }
}

@media (min-width:768px) and (max-width:991px){
    
    #chicken, #beef{
        margin: 0 2% 3% 2%;
        width: 46%;
        float: left;
    }

    #sushi{
        clear: left;
        margin: 2%; 
    }

    #sushi > h2 {width: 20%}

    }